* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Rubik', sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #111 !important
}
.form-control:focus {
  background-color: #fff;
  border-color: none !important;
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(47, 45, 82) !important;
}
.link {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  color: #2f2d52;
}
h1 {
  font-size: 80px !important;
}
h2 {
  font-size: 60px !important;
}
h3 {
  font-size: 50px !important;
}
h4 {
  font-size: 30px !important;
}
h5 {
  font-size: 24px !important;
}
.universal-btn {
  background: #2f2d52;
  color: #fff;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 30px;
  padding-top: 5px;
}

/* header */
.navbar {
  background: #fff;
  padding: 15px 0 !important;
}
.navbar .logo {
  font-size: 45px;
  margin-bottom: 0;
}
.navbar .hamburger {
  padding-top: 10px;
}
.navbar .navbar-nav {
  margin-left: auto;
}
.navbar .nav-item .link,
.navbar .nav-item span,
.navbar .nav-item button {
  color: #111;
  text-decoration: none;
  margin: 0 25px;
  transition: .4s;
}
.navbar .nav-item span {
  text-transform: uppercase;
  color: #2196f3;
  font-weight: 500;
}
.navbar .nav-item button {
  border: none;
  background: none;
  padding: 0;
}
.navbar .nav-item .link:hover {
  color: #2196f3;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0rem !important;
}

/* banner */
.banner {
  background: #fff;
}
.banner-bg {
  background: url(./images/banner-layer.png);
  background-position: top left;
  background-size: cover;
  
  position: relative;
  padding: 200px 0 100px 0;
  overflow: hidden;
}
.banner .text-box {
  color: #273238;
  z-index: 100000;
  overflow: hidden;
  padding-left: 302px;
}
.banner .text-box h1 {
  font-size: 80px;
  font-weight: 700;
}
.banner .text-box h1 span {
  color: #2196f3;
}
.banner .text-box p {
  font-size: 24px;
  letter-spacing: 2px;
  color: #273238
}

/* feature */
.feature {
  padding: 50px 0;
  background: url(./images/download.png);
  background-repeat: no-repeat;
  background-position: center left;
}
.feature .header-text {
  margin-bottom: 75px;
}
.feature-box {
  text-align: center;
}
.feature-box .icon {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  padding: 35px;
  margin: auto;
  margin-bottom: 50px;
}
.feature-box h5 {
  margin-bottom: 10px;
}
.feature-box p {
  margin-bottom: 0px;
}

/* service section */
.service-section {
  background: url(./images/overlay2.png);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.service-box {
  background: #fff;
  border-radius: 10px;
  margin: 15px 0;
  padding: 10px;
}
.service-box img {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
}
.service-box .info {
  padding: 10px;
  text-align: center;
}
.service-box .name {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-box .description {
  margin-bottom: 10px;
}
.service-box button {
  color: #2196f3;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  background: #fff;
  border: none;
  margin: 0;
  padding: 0;
}

/* service details */
.service-details {
  margin-top: 178px;
  margin-bottom: 100px;
}
.service-details .name {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 30px;
}
.service-details .universal-btn {
  margin-top: 30px;
  padding: 10px;
  height: 60px;
}
.service-details .universal-btn .link {
  color: #fff;
}

/* service page */
.service-page {
  margin-top: 178px;
  margin-bottom: 100px;
}
.service-page .header-text h3 {
  font-weight: 600;
}
.service-page .header-text p {
  color: #273238
}

/* about */
.about {
  background: #fff;
}
.about-bg {
  background: url(./images/overlay2.png);
  background-position: top left;
  background-size: cover;
  
  position: relative;
  padding: 200px 0 100px 0;
  overflow: hidden;
}
.about .text-box {
  color: #273238;
  z-index: 100000;
  overflow: hidden;
  padding-right: 302px;
}
.about .text-box h2 {
  font-size: 60px;
  font-weight: 600;
}
.about .text-box p {
  color: #273238
}
.about .text-box ul li {
  color: #273238;
  margin-top: 15px;
}

/* login & register */
.login {
  background: #fff;
}
.login-bg {
  background: url(./images/overlay2.png);
  background-position: top left;
  background-size: cover;
  padding: 200px 0 100px 0;
  overflow: hidden;
}
.login .login-box h3 {
  color: #273238;
  margin-bottom: 30px;
}
.login .login-box {
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  max-width: 500px;
  margin: auto;
}
.login .login-box hr {
  background-color: #999;
}
.login .login-box form {
  text-align: center;
  margin-bottom: 30px;
}
.login .login-box .form-group {
  margin-bottom: 30px;
}
.login .login-box .form-control {
  border: none;
  color: #333;
  height: 60px;
  border-radius: 30px;
  padding: 30px;
}
.login .login-box .form-control:focus {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.login .login-box .universal-btn {
  font-weight: 500;
  height: 60px;
  width: 100%;
}
.login .login-box .google-btn {
  background: #fff;
  color: #273238;
  font-weight: 500;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.login .login-box .google-btn img {
  padding-right: 5px;
}
.login .login-box .switcher {
  margin-bottom: 0;
  margin-top: 15px;
}

/* contact & appointment */
.contact {
  background: #fff;
}
.contact-bg {
  background: url(./images/overlay2.png);
  background-position: top left;
  background-size: cover;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
}
.appointment-bg {
  padding: 200px 0 100px 0;
}
.contact .header-text {
  margin-bottom: 30px;
}
.appointment .header-text {
  margin-bottom: 30px;
}
.contact .contact-box {
  color: #273238;
  z-index: 100000;
  overflow: hidden;
  padding-right: 302px;
}
.contact .contact-box h2 {
  font-size: 60px;
  font-weight: 600;
}
.contact .contact-box p {
  color: #273238
}
.contact .form-group {
  margin-bottom: 30px;
}
.contact .form-group label {
  color: #273238;
  margin-bottom: 10px;
}
.contact .form-group input,
.contact .form-group select {
  border: none;
  color: #666;
  height: 60px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.contact .form-group input:focus {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.contact .form-group textarea {
  color: #333;
  height: 180px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border: none;
}
.submit-btn {
  background: #2f2d52;
  color: #fff !important;
  width: 50%;
  height: 60px;
  border: none !important;
  border-radius: 30px;
  padding-top: 5px;
}

/* footer */
.footer {
  background: url(./images/footer-layer.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding: 330px 0 0 0;
  position: relative;
  overflow: hidden;
}
.footer-bg {
  background: #ebf2fa;
  padding-bottom: 100px;
}
.footer .logo {
  color: #2f2d52;
  font-size: 45px;
  margin-bottom: 15px;
}
.footer h5 {
  margin-bottom: 25px;
  margin-top: 22px;
}
.footer p {
  color: #273238;
}
.footer .nav-item {
  margin-bottom: 10px;
}
.footer .link {
  color: #273238;
  margin-bottom: 25px;
}
.footer .fa-icon {
  color: #2f2d52;
  width: 15px;
  margin-right: 10px;
  margin-top: 3px;
}

/* not found */
.not-found {
  margin-top: 178px;
}
.not-found img {
  margin-bottom: 50px;
  max-width: 500px;
}
.not-found h3 {
  margin-bottom: 30px;
}
.not-found p {
  color: #77838F;
}

/* media queries */
@media (max-width: 1600px) {
  .banner .text-box {
    padding-left: 152px;
  }
  .about .text-box,
  .contact .contact-box {
    padding-right: 152px;
  }
}
@media (max-width: 1400px) {
  .banner .text-box {
    padding-left: 52px;
  }
  .about .text-box,
  .contact .contact-box {
    padding-right: 52px;
  }
}
@media (max-width: 1366px) {
  .banner .text-box {
    padding-left: 125px;
  }
  .about .text-box,
  .contact .contact-box {
    padding-right: 125px;
  }
}
@media (max-width: 992px) {
  .navbar .navbar-nav .nav-item {
    text-align: center;
    margin: 15px 0;
  }
  .login .login-box {
    padding: 15px;
  }
  .banner .text-box,
  .about .text-box,
  .contact .contact-box {
    padding: 0 15px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 60px !important;
  }
  h2 {
    font-size: 50px !important;
  }
  h3 {
    font-size: 40px !important;
  }
}