* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  font-family: 'Teko', sans-serif !important;
  font-size: 20px;
}


.link {
  text-decoration: none;
  font-size: 20px;
}
/* ============================================ */
.navbar {
  background: #fff;
  padding: 15px 0 !important;
}
.navbar .logo {
  color: #2f2d52;
  font-size: 40px;
  margin-bottom: 0;
}
.navbar .logo span {
  color: #fe9d3e;
}
.navbar .hamburger {
  padding-top: 10px;
}
.navbar .navbar-nav {
  margin-left: auto;
}
.navbar .nav-item .link {
  color: #000;
  text-decoration: none;
  margin: 0 25px;
  letter-spacing: 1px;
  transition: .4s;
}
.navbar .nav-item .link:hover {
  color: #2196f3;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0rem !important;
}


/* ============================================ */

.banner {
  background: #fff;
}
.banner-bg {
  background: url(./images/banner-layer.png);
  background-position: top left;
  background-size: cover;
  
  position: relative;
  padding: 200px 0 100px 0;
  overflow: hidden;
}
.banner .text-box {
  color: #273238;
  z-index: 100000;
  overflow: hidden;
  padding-left: 302px;
}
.banner .text-box h1 {
  font-size: 80px;
  font-weight: 700;
}
.banner .text-box h1 span {
  color: #2196f3;
}
.banner .text-box p {
  font-size: 24px;
  letter-spacing: 2px;
  color: #273238
}



/* ================================== */

.service-section {
  background: url(./images/overlay2.png);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.service-section .header-text h3 {
  color: #273238;
  font-size: 50px;
}
.service-section .header-text p {
  font-size: 20px;
  letter-spacing: 1px;
  color: #273238
}

/* ================================== */

.service-box {
  background: #fff;
  border-radius: 10px;
  margin: 15px 0;
  padding: 10px;
}
.service-box img {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  /* height: 250px; */
}
.service-box .info {
  padding: 10px;
  text-align: center;
}
.service-box .name {
  color: #2F2D51;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 30px;
}
.service-box .description {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.service-box .btn {
  font-size: 22px;
  letter-spacing: 1px;
  color: #2196f3;
  margin: 0;
  padding: 0;
}

/* ================================================================ */

.service-details {
  margin-top: 178px;
  margin-bottom: 100px;
}
.service-details .name {
  color: #2F2D51;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 30px;
}
.service-details .description {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
/* ================================================================ */

.service-page {
  margin-top: 178px;
  margin-bottom: 100px;
}
.service-page .header-text h3 {
  color: #273238;
  font-size: 60px;
  font-weight: 600;
}
.service-page .header-text p {
  font-size: 20px;
  color: #273238
}
/* ================================================================ */

.about {
  background: #fff;
}
.about-bg {
  background: url(./images/overlay2.png);
  background-position: top left;
  background-size: cover;
  
  position: relative;
  padding: 200px 0 100px 0;
  overflow: hidden;
}
.about .text-box {
  color: #273238;
  z-index: 100000;
  overflow: hidden;
  padding-right: 302px;
}
.about .text-box h2 {
  font-size: 60px;
  font-weight: 600;
}
.about .text-box p {
  font-size: 20px;
  color: #273238
}
.about .text-box ul li {
  font-size: 20px;
  color: #273238;
  margin-top: 15px;
}


/* ============================================ */
.feature {
  padding: 50px 0;
  background: url(./images/download.png);
  background-repeat: no-repeat;
  background-position: center left;
}
.feature .header-text {
  margin-bottom: 75px;
}
.feature .header-text h3 {
  color: #273238;
  font-size: 50px;
}
.feature .header-text p {
  font-size: 20px;
  letter-spacing: 1px;
  color: #273238
}
.feature-box {
  text-align: center;
}
.feature-box .icon {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  padding: 35px;
  margin: auto;
  margin-bottom: 50px;
}
.feature-box h5 {
  color: #2F2D51;
  margin-bottom: 10px;
  font-size: 30px;
}
.feature-box p {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* ================================================================ */

.contact {
  background: #fff;
}
.contact-bg {
  background: url(./images/overlay2.png);
  background-position: top left;
  background-size: cover;
  
  position: relative;
  padding: 200px 0 100px 0;
  overflow: hidden;
}
.contact .text-box {
  color: #273238;
  z-index: 100000;
  overflow: hidden;
  padding-right: 302px;
}
.contact .text-box h2 {
  font-size: 60px;
  font-weight: 600;
}
.contact .text-box p {
  font-size: 20px;
  color: #273238
}
.contact .form-group {
  margin-bottom: 30px;
}
.contact .form-group label {
  color: #273238;
  font-size: 20px;
  margin-bottom: 10px;
}
.contact .form-group input {
  color: #333;
  font-size: 20px;
  height: 60px;
  border-radius: 30px;
  padding: 30px;
}
.contact .form-group textarea {
  color: #333;
  font-size: 20px;
  height: 180px;
  border-radius: 30px;
  padding: 30px;
}

.form-control:focus {
  background-color: #fff;
  border-color: none !important;
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(47, 45, 82) !important;
}

.submit-btn {
  background: #2f2d52;
  color: #fff !important;
  width: 50%;
  height: 60px;
  font-size: 20px !important;
  border: none !important;
  border-radius: 30px;
  padding-top: 5px;
}
/* ============================================ */

.footer {
  background: url(./images/footer-layer.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding: 330px 0 0 0;
  position: relative;
  overflow: hidden;
}
.footer-bg {
  background: #ebf2fa;
  padding-bottom: 100px;
}
.footer .logo {
  color: #2f2d52;
  font-size: 40px;
}
.footer h6 {
  margin-top: 27px;
  font-size: 24px;
  margin-bottom: 30px;
}
.footer p {
  font-size: 20px;
  color: #77838F;
}
.footer .nav-item {
  margin-bottom: 10px;
}
.footer .link {
  font-size: 20px;
  color: #77838F;
  margin-bottom: 25px;
}
